body{
    background-color: blueviolet;
}

h1{
    color: cornsilk;
}

table{
    font-family:Helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}